    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6rem;
        line-height: 2;
    }
    
    @font-face {
        font-family: "Aquire";
        src: url("../font/AquireBold-8Ma60.otf");
    }
    /* GLOBALES */
    
    img {
        max-width: 100%;
    }
    
    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 2.2rem;
    }
    
    a {
        text-decoration: none;
    }
    /* UTILIDADES */
    
    .container {
        max-width: 120rem;
        margin: 0 auto;
        width: 95%;
    }
    
    .mw-600 {
        max-width: 60rem;
    }
    
    .fw-300 {
        font-weight: 300;
    }
    
    .fw-400 {
        font-weight: 400;
    }
    
    .fw-aquire {
        font-family: 'Aquire', Courier, monospace;
    }
    
    .text-center {
        text-align: center;
    }
    
    .no-margin {
        margin: 0;
    }
    
    .section {
        margin-top: 4rem;
    }
    
    .tx-under {
        text-decoration: overline;
    }
    
    .rotate {
        transform: rotate(180deg);
        /*transform: rotate(180deg);*/
        transition: .3s;
    }
    
    .rotate-reset {
        transform: rotate(0deg);
        transition: .3s;
    }
    /* Parallax Effect*/
    
    .bg-parallax {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        min-height: 40vh;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .bg-1 {
        background-image: url(../img/fondo.jpg);
    }
    
    .bg-2 {
        background-image: url(../img/fondo2.jpeg);
    }
    /* Buttons */
    
    .btn {
        font-family: 'Aquire', Courier, monospace;
        color: white;
        padding: 2rem 4rem;
        border-radius: 0.5rem;
        text-align: center;
    }
    
    .btn-primary {
        background: #202020;
    }
    
    .btn-primary:hover {
        background: #FBB666;
        color: #202020;
        transition: 1s;
    }
    /* HEADER */
    
    .site-header {
        font-family: 'Aquire', Courier, monospace;
        background: #202020;
        position: fixed;
        top: 0;
        height: 14.5rem;
        width: 100%;
    }
    
    .logo {
        color: #fff;
        cursor: pointer;
        line-height: 1.5;
    }
    
    .logo-text {
        max-width: 28rem;
        margin: auto;
    }
    
    @media (min-width: 768px) {
        .site-header {
            height: 9.2rem;
        }
        .logo h1 {
            max-width: none;
        }
    }
    
    @media (min-width: 1200px) {
        .site-header {
            height: 7.2rem;
        }
        .logo {
            line-height: 2;
        }
    }
    
    .drop-menu {
        display: flex;
        justify-content: center;
    }
    
    .menu-toogle {
        width: 100%;
        background-color: #333333;
        border: none;
        border-radius: 0.5rem;
        font-size: 3rem;
        line-height: 1;
        padding: 0;
        outline: none;
        color: #e4e4e4;
        cursor: pointer;
    }
    
    #nav {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0.5rem;
        flex-direction: column;
        align-items: center;
    }
    
    #nav a {
        border-top: 1px solid #222222;
        width: 100%;
        text-align: center;
        color: #222222;
    }
    
    #nav a:hover {
        color: #FBB666;
        transition: .5s;
    }
    
    @media (min-width: 1200px) {
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .drop-menu {
            display: none;
        }
        #nav {
            background-color: #222222;
            flex-direction: row;
        }
        #nav a {
            width: auto;
            color: #fff;
            margin-right: 2rem;
        }
        #nav a:last-of-type {
            margin-right: 0;
        }
    }
    /* MAIN CONTENT */
    
    .main-content {
        width: 95%;
        max-width: 70rem;
    }
    
    .phrase {
        margin-top: 14.5rem;
    }
    
    @media (min-width: 768px) {
        .phrase {
            margin-top: 9.2rem;
        }
    }
    
    @media (min-width: 1200px) {
        .phrase {
            margin-top: 7.2rem;
        }
    }
    
    .author {
        font-style: italic;
        text-align: right;
    }
    /* PROFILE */
    
    .profile {
        display: flex;
        flex-wrap: wrap;
    }
    
    .profile-image {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        border-radius: 50%;
        border-bottom-left-radius: 0;
    }
    
    @media (min-width: 768px) {
        .profile {
            justify-content: space-between;
        }
        .profile-info {
            flex-basis: 30%;
        }
        .profile-aside {
            flex-basis: calc(70% - 5rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    /* PARALLAX BACKGROUND 2 */
    
    .bg2-content p {
        max-width: 80rem;
    }
    /* CURRICULUM */
    
    @media (min-width: 768px) {
        .curriculum-list {
            display: flex;
            justify-content: space-between;
        }
        .curriculum-main,
        .curriculum-aside {
            flex-basis: calc(50% - 5rem);
        }
    }
    /* FOOTER */
    
    .site-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 8rem;
        background: #202020;
        color: #fff;
        font-family: 'Aquire', Courier, monospace;
    }