    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6rem;
        line-height: 2;
    }
    
    @font-face {
        font-family: "Aquire";
        src: url("../font/AquireBold-8Ma60.otf");
    }
    /* GLOBALES */
    
    img {
        max-width: 100%;
    }
    
    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 2.2rem;
    }
    
    a {
        text-decoration: none;
    }
    /* UTILIDADES */
    
    .container {
        max-width: 120rem;
        margin: 0 auto;
        width: 95%;
    }
    
    .fw-300 {
        font-weight: 300;
    }
    
    .fw-400 {
        font-weight: 400;
    }
    
    .fw-aquire {
        font-family: 'Aquire', Courier, monospace;
    }
    
    .text-center {
        text-align: center;
    }
    
    .no-margin {
        margin: 0;
    }
    
    .section {
        margin-top: 4rem;
    }
    
    .tx-under {
        text-decoration: overline;
    }
    /* Buttons */
    
    .btn {
        font-family: 'Aquire', Courier, monospace;
        color: white;
        padding: 2rem 4rem;
        border-radius: 0.5rem;
        text-align: center;
    }
    
    .btn-primary {
        background: #202020;
    }
    
    .btn-primary:hover {
        background: #FBB666;
        color: #202020;
        transition: 1s;
    }
    /* HEADER */
    
    .site-header {
        background: #202020;
        color: #fff;
        font-family: 'Aquire', Courier, monospace;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .phrase {
        margin-top: 14.25rem;
    }
    
    @media (min-width: 480px) {
        .phrase {
            margin-top: 7.125rem;
        }
    }
    
    .logo {
        line-height: 2;
        color: #fff;
    }
    
    .nav {
        background-color: #CECECE;
        border-radius: 0.5rem;
        display: none;
    }
    
    .nav a {
        border-bottom: 1px solid #222222;
        width: 100%;
        text-align: center;
        color: #222222;
    }
    
    .nav a:last-of-type {
        border-bottom: none;
    }
    
    @media (min-width: 1200px) {
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            background-color: #222222;
        }
        .nav a {
            width: auto;
            color: #fff;
            margin-right: 4rem;
        }
        .nav a:hover {
            color: #FBB666;
            transition: 0.5s;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
        }
    }
    /* MAIN CONTENT */
    
    .bg-parallax {
        background-image: url(../img/fondo.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        min-height: 40vh;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }
    
    @media (min-width: 980px) {
        .bg-parallax {
            background-size: cover;
        }
    }
    
    .main-content {
        width: 95%;
    }
    
    .main-content p {
        max-width: 70rem;
    }
    /* PROFILE */
    
    .profile {
        display: flex;
        flex-wrap: wrap;
    }
    
    .profile-image {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        border-radius: 50%;
        border-bottom-left-radius: 0;
    }
    
    @media (min-width: 980px) {
        .profile {
            justify-content: space-between;
        }
        .profile-info {
            flex-basis: 30%;
        }
        .profile-aside {
            flex-basis: calc(70% - 5rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    /* CURRICULUM */
    
    @media (min-width: 980px) {
        .curriculum-list {
            display: flex;
            justify-content: space-between;
        }
        .curriculum-main,
        .curriculum-aside {
            flex-basis: calc(50% - 5rem);
        }
    }
    /* FOOTER */
    
    .site-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 8rem;
        background: #202020;
        color: #fff;
        font-family: 'Aquire', Courier, monospace;
    }